@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Philosopher&display=swap');

/* font-family: 'Philosopher', sans-serif;
font-family: 'Julius Sans One', sans-serif; */

/* font-family: 'Tangerine', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif; */

body {
  background: url("../images/pawel-czerwinski-bX9B9c-YasY-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;

  text-align: center;
  font-family: 'Philosopher', sans-serif;
  color: #7EBDC2;
}

/* intro screen styling */
section.screen1 {
  display: block;
  font-size: 24px;
}

/* category choices styling */
label.category-options {
  color: #7EBDC2;
}

option {
  color: #5E0B15;
}

div.input-field {
  border-radius: 5px;
  background: #B8DBDD;
}

/* play button styling */
button.play, button.play-again {
  display: none;
  background: #B8DBDD;
}

button.play:hover, button.play-again:hover {
  background: #51797C;
}


/* question screen styling */
section.screen2 {
  display: none;
}

p.questionNum {
  font-size: 24px;
}

/* timer styling */
div.countdown-area {
  justify-content: center;
}

p.countdown {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #C4A6A9;
  color: #5E0B15;
}

/* question and answer styling */
div.question, div.answer {
  padding: 2px;
  border-radius: 5px;
  font-size: 24px;
  font-family: 'Julius Sans One', sans-serif;
}

div.question {
  color: #00284D;
  background-color: #A2B0BE;
}

div.answer {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  min-height: 50px;
  color: #689B9F;
  background-color: #C4E1E3;
}


/* end of game screen styling */

section.screen3 {
  display: none;
}

p.numCorrect, p.numIncorrect {
  font-size: 20px;
}

button.play-again {
  display: none;
}